---
layout: page
title: Artiklar
permalink: artiklar
landing: true
---

<article class="special">
    {%- assign posts = paginator.posts | default: site.posts -%}
    {% include post_grid.html posts=posts limit=10 %}

    {% if paginator.total_pages > 1 %}
</article>

<footer>
    {% if paginator.previous_page %}<a href="{{ paginator.previous_page_path | relative_url }}">« nyare artiklar</a>{%
    else %}<span></span>{% endif %}
    <span>page {{ paginator.page }} av {{ paginator.total_pages }}</span>
    {% if paginator.next_page %}<a href="{{ paginator.next_page_path | relative_url }}">äldre artiklar »</a>{% else
    %}<span></span>{% endif %}
</footer>
{% endif %}