{% if include.post.categories.size > 0 and site.minimal != true and include.preview != true %}
{% assign category = site.categories | where: 'short_name', include.post.category | first %}
<a href="{{ category.url }}">
    <div class="categories">{{ category.name | join: ", " | upcase }}</div>
</a>
{% endif %}
<time datetime="{{ include.post.date | date_to_xmlschema }}">{{ include.post.date | date: "%Y-%m-%d" }}</time>
<span style="margin-left: 10px;">
    {% assign author = site.authors | where: 'short_name', include.post.author | first %}
    {% if author %}
    <a href="{{ author.url }}">{{ author.name }}</a>
    {% else %}
    {{include.post.author}}
    {% endif %}
</span>