---
layout: default
---

<!-- Main -->
<article>

    {% if page.landing %}

    {% include page_banner.html page=page %}

    {% endif %}

    <!-- One -->
    <section class="main wrapper style4 container" style="margin-top: 5em;">

        {% if page.landing == nil %}

        <header class="special container">
            <h2>{{page.title}}</h2>
            <h4>{{page.subtitle}}</h4>
        </header>

        {% endif %}

        <!-- Content -->
        <div class="content">

            {% if page.toc %}

            {% assign split_content = content | split: '<h3' %}
            
            {% if split_content.size > 1 %}
                {% assign before_content = split_content[0] %}
                {% assign remaining_content = split_content | slice: 1, split_content.size | join: '<h3' %}
                {% assign remaining_content = '<h3' | append: remaining_content %}
            {% else %}
                {% assign before_content = content %}
                {% assign remaining_content = "" %}
            {% endif %}

            {{ before_content | strip }} <!-- All content before the first <h3> -->

            {% if page.toc %}
                <h3>Innehåll</h3>
                <div id="toc">
                    {{ content | toc_only }} <!-- TOC is displayed here -->
                </div>
            {% endif %}

            {{ remaining_content | strip }} <!-- Remaining content starting from the first <h3> -->


            {% else %}

            {{ content }}

            {% endif %}

        </div>

    </section>

</article>