---
layout: default
---

<!-- Main -->
<article>

    {% if page.landing %}

    {% include page_banner.html page=page %}

    {% endif %}

    <!-- One -->
    <section class="main wrapper style4 container" style="margin-top: 5em;">

        {% if page.landing == nil %}

        <header class="special container">
            <h2>{{page.title}}</h2>
            <h4>{{page.subtitle}}</h4>
        </header>

        {% endif %}

        <!-- Content -->
        <div class="content">

                {% if page.toc %}
                {% assign split_content = content | split: "<h" %}
                {% assign before_heading = split_content[0] %}
                {% assign after_heading = "<h" | append: split_content[1] %}

                {{ before_heading }} 
                
                <h3>Innehåll</h3>

                <div id="toc">
                    {{ content | toc_only }} <!-- TOC placeras här -->
                </div>

                {{ after_heading }}

                {% else %}

                {{ content }}

            {% endif %}

        </div>

    </section>

</article>