---
layout: default
---

<!-- Main -->
<article>

    {% if page.landing %}

    {% include page_banner.html page=page %}

    {% endif %}

    <!-- One -->
    <section class="wrapper main wrapper style4 container" style="margin-top: 5em;">

        {% if page.landing == nil %}

        <header class="special container">
            <h2>{{page.title}}</h2>
            <h4>{{page.subtitle}}</h4>
            {% include meta.html post=page %}
        </header>

        {% endif %}

        <!-- Content -->
        <div class="content">

            {% if page.toc %}

            {% assign first_paragraph = content | split: '</p>' | first %}
            {% assign remaining_content = content | split: '</p>' | slice: 1, 100 | join: '</p>' %}

            {{ first_paragraph | append: '</p>' }} <!-- Första paragrafen -->

            <h3>Innehåll</h3>

            <div id="toc">
                {{ content | toc_only }} <!-- TOC placeras här -->
            </div>

            {{ remaining_content }}

            {% else %}

            {{ content }}

            {% endif %}

        </div>

    </section>

</article>